<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Income</title>
    <link rel="icon" type="image/x-icon" href="../images/small_logo1.png" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
</head>

<body class="add-income-page">
    <!-- Income Form Header -->
    <div class="income-header">
        <span class="header-title">INCOME</span>
    </div>

    
    <div class="container_add-income">
        <!-- Form Section -->
        <form class="income-form">
            <label for="amount">AMOUNT</label>
            <input type="text" id="amount" name="amount" placeholder="115.00">

            <label for="name">NAME</label>
            <input type="text" id="name" name="name" placeholder="TIPS">

            <label for="date">DATE</label>
            <input type="date" id="date" name="date" value="2024-11-04">

            <label for="category">CATEGORY</label>
            <input type="text" id="category" name="category" placeholder="TIPS">

            <label for="comments">COMMENTS</label>
            <input type="text" id="comments" name="comments" placeholder="TIPS WEEK 41">
        </form>
    </div>



    <!-- Piggy Bank Icon -->
    <div class="piggy-bank-icon">
        <img src="../images/pig_bank_green.png" alt="Piggy bank with dollar coin">
    </div>

</body>
</html>
