<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="icon" type="image/x-icon" href="../images/small_logo1.png" />
        <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    </head>
    <body class="debits-page">

        <!-- title -->
        <div class="header_for_title_debits">
            <div class="debits_title_image">
                <img src="../images/debits_title.png" alt="debits_title">
            </div>    
        </div>
        <div class="container">

            <!-- Navigation Options -->
            <div class="menu_debits">
                <h2> <a href="check_list.html" class="nav-link"> CHECK LISTS </a></h2>
                <h2> <a href="loans.html" class="nav-link"> LOANS </a></h2>
            </div>

            
        </div>
        <div class="footer_balance">
            <img src="../images/balance.png" alt="footer_balance">
        </div>
    </body>
</html>
