<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="icon" type="image/x-icon" href="../images/small_logo1.png" />
        <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    </head>
    <body class="home-page">

        <!-- Logo -->

        <div class="header_for_logo">
            <div class="logo">
                <img src="../images/small_logo1.png" alt="AD2 Logo">
            </div>    
        </div>
        <div class="container">

            <!-- Navigation Options -->
            <div class="menu_home_page">
                <h2> <a href="expenses.html" class="nav-link"> EXPENSES </a></h2>
                <h2> <a href="planning.html" class="nav-link"> PLANNING </a></h2>
                <h2> <a href="debits.html" class="nav-link"> DEBITS </a></h2>
                <h2> <a href="analytics.html" class="nav-link"> ANALYTICS </a></h2>
            </div>

            <!-- Floating Cash and Coins -->
            <div class="coins_bills">
                <img src="../images/coins_bills.png" alt="coins_bills">
            </div>
        </div>

    </body>
</html>
