<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/small_logo1.png}" />
    <!-- Use Thymeleaf to resolve the path for the CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="planning-page">

    <!-- title -->
    <div class="header_for_title_planning">
        <div class="planning_title_image">
            <!-- Use Thymeleaf to resolve the image path -->
            <img th:src="@{/images/planning_title.png}" alt="planning_title">
        </div>    
    </div>
    <div class="container">

        <!-- Navigation Options -->
        <div class="menu_planning">
            <!-- Use Thymeleaf for dynamic href resolution -->
            <h2> <a th:href="@{/another_day_another_dollar/setBudget}" class="nav-link"> SET BUDGET </a></h2>
            <h2> <a th:href="@{/another_day_another_dollar/bills}" class="nav-link"> BILLS </a></h2>
            <h2> <a th:href="@{/another_day_another_dollar/goals}" class="nav-link"> GOALS </a></h2>
        </div>

    </div>
    <div class="footer_planning">

        <div class="wallet_image"> 
            <!-- Use Thymeleaf for resolving image paths -->
            <img th:src="@{/images/green_wallet.png}" alt="wallet_image">
        </div>

        <div class="pile_coins_image"> 
            <!-- Use Thymeleaf for resolving image paths -->
            <img th:src="@{/images/green_pile_coins.png}" alt="pile_coins_image">
        </div>

    </div>
</body>
</html>
